
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Semester 5", "Semester5", "Semester5")
<br />
@Html.ActionLink("Testimonial", "Testimonial", "Testimonial")
<hr/>
<h4>Introducing the Computer Science 3-year program</h4>
