
@{
    ViewBag.Title = "Index";
}
<header>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
</header>
<body>
    <h2>Index</h2>
    <ul class="ulnav">
    <li class="linav">@Html.ActionLink("Home", "Index", "Default")</li>
    <li class="linav">@Html.ActionLink("Semester 5", "Semester5", "Semester5")</li>
    <li class="linav">@Html.ActionLink("Testimonial", "Testimonial", "Testimonial")</li>
    </ul>
    <br /><br />
    <h3><u>Introducing the Computer Science 3-year program</u></h3>
    <p class="definitionprog">
        Computer Science Technology is a three-year career program
        designed to provide you with a strong background in
        object-oriented methodology, particularly in program
        design and system analysis. Web concepts are integrated
        into a majority of courses and focus on the development
        of dynamic database-driven web applications on a variety
        of operating system platforms. The program will focus on
        computer programming, operating systems, database and web
        technology, data communication and networking, security
        and advanced programming languages.

    </p>
</body>
<footer>
</footer>
