
@{
    ViewBag.Title = "Testimonial";
}
<header>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
</header>
<body>
    <h2>Testimonial</h2>
    <ul class="ulnav">
        <li class="linav">@Html.ActionLink("Home", "Index", "Default")</li>
        <li class="linav">@Html.ActionLink("Semester 5", "Semester5", "Semester5")</li>
        <li class="linav">@Html.ActionLink("Testimonial", "Testimonial", "Testimonial")</li>
    </ul>
    <br /><br />
    <h3><u> Here is a few words from Champlain's students</u></h3>
    <p class="definitionprog">
        You get a Computer Science Technology diploma from
        this program which opens a lot of doors for the future.
        I personally appreciate the whole experience,
        learning new skills every day. Be careful since some
        teachers don't give you much instructions, you
        have to learn to wokr on your own.
        <br />
        <b><i>Sabrina</i></b>
    </p>
    <p class="definitionprog">
        Computer Science was already my passion, thus in the first
        semester it was easy and kind of boring. Dont worry from the
        second semester I started to learn new things and it became
        more interesting. I also enjoyed most of the teachers, they
        are very passionate about their work.
        <br />
        <b><i>Patrick</i></b>
    </p>
    <p class="definitionprog">
        This program was rough, but if you are determined 
        to work hard you will find your way. Try to have fun 
        and don't take it to seriously or you will get bored 
        easily. Also, the fact that it is in english did not 
        change much, most of the world programming is in English.
        <br />
        <b><i>Antoine</i></b>
    </p>
</body>
<footer>
</footer>
