
@{
    ViewBag.Title = "Testimonial";
}

<h2>Testimonial</h2>

@Html.ActionLink("Home", "Index", "Default")
<br />
@Html.ActionLink("Semester 5", "Semester5", "Semester5")
<hr/>
<h4> Here is a few words from Champlain's students</h4>
